.card-container{
    width: 40%;
    margin: 5% auto;  
}
.main-card{
    background-color: grey;
}
.input-fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}
.input-field{
    width: 80%;
    margin: 10px !important;

}
.login-button{
    background: #0096C7 !important;
}